@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@font-face{
    src: url('../fonts/Rift-Regular.ttf');
    font-family: Rift-Regular;
    font-weight: normal;
}
@font-face{
    src: url('../fonts/Rift-Medium.ttf');
    font-family: Rift-Medium;
    font-weight: normal;
}
@font-face{
    src: url('../fonts/Rift-Bold.ttf');
    font-family: Rift-Bold;
    font-weight: normal;
}
body, h1, h2, h3, h4, h5, h6 {font-family: Rift-Regular;}
.font-rift-regular{font-family: Rift-Regular;}
.font-rift-medium{font-family: Rift-Medium;}
.font-rift-bold{font-family: Rift-Bold;}

:root{ --primary: #79adf6;}
/* ::-webkit-scrollbar {width: 4px;}
::-webkit-scrollbar-track {border-radius: 10px;background-color: #ffffff;}
::-webkit-scrollbar-thumb{border-radius: 10px;background-color: #bbbbbb;} */
.text-primary{color: var(--primary);}
.bg-primary{background-color: var(--primary);}
.box-shadow {box-shadow: 2px 2px 12px rgba(0,0,0,0.1);}
